<html>
<head>
	<title>MAP</title>

	<!-- bower:css -->
	<link rel="stylesheet" type="text/css" href="./bower_components/leaflet/dist/leaflet.css">
	<link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- endbower -->

	<link rel="stylesheet" type="text/css" href="./css/styles.css">

	<!-- bower:js -->
	<script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="./bower_components/leaflet/dist/leaflet.js"></script>
	<script type="text/javascript" src="./bower_components/Leaflet.MakiMarkers/Leaflet.MakiMarkers.js"></script>
	<!-- endbower -->

</head>
<body>

	<div id="mapSection">
		<div id="map"></div>
	</div>

	<script type="text/javascript" src="./js/scripts.js"></script>
</body>
</html>